<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
       <base href="/static/ad_min/admin_home/">
    <title>requirements</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Smelter a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/simpleLightbox.css" rel='stylesheet' type='text/css' />
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800" rel="stylesheet">



    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Home Loan Application Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- css files -->
    <link rel="stylesheet" href="{% static 'ad_min/requirement/css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="{% static 'ad_min/requirement/css/jquery-ui.css' %}" />
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=GFS+Neohellenic:400,400i,700,700i&amp;subset=greek" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>

    <script>
        {% for msg in messages %}
            alert('{{ msg }}')
        {% endfor %}
    </script>

    <header>
        <div class="header_top" id="home">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="logo text-left" style="font-size: 24px; /* Adjust font size for the logo container */
    line-height: 1.5;">
    <h1 style="font-size: 36px; /* Adjust font size for the heading */
        margin: 0; /* Remove default margin */
        padding: 0;">
        <a class="navbar-brand" style="font-size: 36px; /* Same font size for the link */
            color: white; /* Apply the desired color */
            text-decoration: none;">
            <i class="fas fa-podcast" style="font-size: 40px; /* Adjust icon size */
                margin-right: 10px;">
            </i> ADMIN
        </a>
    </h1>
</div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">

                            </span>

                        </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-lg-auto text-right">
                        <li class="nav-item ">
                            <a class="nav-link" href="/adminhome/">HOME
                                        <span class="sr-only">(current)</span>
                                    </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      APPROVAL
                                       <i class="fas fa-angle-down"></i>
                                    </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/exfoapprove/">EXFOLIATION</a>
                                <a class="dropdown-item" href="/bioapprove/" title="">BIOADHESION</a>
                                <a class="dropdown-item" href="/dermatoapprove/">DERMATOPLASTY</a>
                                <a class="dropdown-item" href="/monitorapprove/" title="">MONITORING</a>
                                <a class="dropdown-item" href="/evalapprove/">EVALUATION</a>


                            </div>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link tooltip-blog" href="/requirements/">REQUIREMENTS </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      MANAGE REPORTS
                                       <i class="fas fa-angle-down"></i>
                                    </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/exfomanage/">EXFOLIATION</a>
                                <a class="dropdown-item" href="/biomanage/" title="">BIOADHESION</a>
                                <a class="dropdown-item" href="/dermatomanage/">DERMATOPLASTY</a>
                                <a class="dropdown-item" href="/monitormanage/" title="">MONITORING</a>
                                <a class="dropdown-item" href="/evalmanage/">EVALUATION</a>
                            </div>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/managestatus/">MANAGE STATUS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">LOGOUT</a>
                        </li>

                    </ul>

                </div>

            </nav>

        </div>
    </header>




    <div class="center-container">
        <!--header-->
        <div class="header-w3l">
            <br><br><br>
        </div>
        <!--//header-->
        <!--main-->
        <div class="agileits-register">
            <form action="/requirements/" method="POST">
                {% csrf_token %}

                <div class="w3_modal_body_grid w3_modal_body_grid1">
                    <span>Name :</span>
                    <input type="text" name="name" placeholder="NAME" class="input-text" autocomplete="off" required=""/>
                    <div class="clear"> </div>
                </div>

                <div class="w3_modal_body_grid w3_modal_body_grid1">
                    <span>AGE :</span>
                    <input type="text" name="age" placeholder="AGE" class="input-text" autocomplete="off" required=""/>
                    <div class="clear"> </div>
                </div>

                <div class="w3_modal_body_grid w3_modal_body_grid1">
                    <span>GENDER :</span>
                    <input type="text" name="gender" placeholder="GENDER" class="input-text" autocomplete="off" required=""/>
                    <div class="clear"> </div>
                </div>


                <div class="w3_modal_body_grid w3_modal_body_grid1">
                    <span>TYPE OF WOUND :</span>
                    <select   name="type_of_wound" class="input-text" autocomplete="off" required="" >
                        <option value="" disabled selected >SELECT WOUND TYPE</option>
                        <option value="Burns">Burns</option>
                        <option value="Chronic ulcers">Chronic ulcers</option>
                        <option value="Traumatic wounds">Traumatic wounds</option>
                        <option value="Non-healing skin defects">Non-healing skin defects</option>
                        <option value="Necrotic wounds">Necrotic wounds</option>
                    </select>
                    <div class="clear"> </div>
                </div>



                <div class="w3_modal_body_grid w3_modal_body_grid1">
                    <span> WOUND PLACEMENT :</span>
                    <select   name="wound_placement" class="input-text" autocomplete="off" required="" >
                        <option value="" disabled selected >SELECT WOUND TYPE</option>
                        <option value="head">head</option>
                        <option value="ear">ear</option>
                        <option value="Traumatic wounds">face</option>
                        <option value="face">chest</option>
                        <option value="backchest">backchest</option>
                        <option value="arm">arm</option>
                        <option value="thighs">thighs</option>
                        <option value="buttocks">buttocks</option>
                    </select>
                    <div class="clear"> </div>
                </div>


                <div class="w3_modal_body_grid w3_modal_body_grid1">
                    <span>DEPTH OF WOUND (mm):</span>
                    <input type="number" name="depth_of_wound" autocomplete="off" placeholder="DEPTH OF WOUND (mm)" min="0.5" max="15" step="0.1" class="input-text" required=""/>
                    <div class="clear"> </div>
                </div>

                <div class="w3_modal_body_grid w3_modal_body_grid1">
                    <span>CIRCUMFERENCE OF WOUND (diameter)(CM):</span>
                    <input type="number" name="circumference_of_the_wound" autocomplete="off" placeholder="CIRCUMFERENCE OF WOUND (diameter)(CM)" min="2" max="25" step="1" class="input-text" required=""/>
                    <div class="clear"> </div>
                </div>


                <div class="w3_modal_body_grid">
                    <input type="submit" value="UPLOAD NOW" />
                    <div class="clear"> </div>
                </div>
            </form>

            <form action="/adminhome/" method="POST">
                {% csrf_token %}
                <div class="w3_modal_body_grid">
                    <input type="submit" value="BACK" />
                    <div class="clear"> </div>
                </div>
            </form>

        </div>
        <!--//main-->
    </div>
    <!-- js -->
    <script type="text/javascript" src="{% static 'ad_min/requirement/js/jquery-2.1.4.min.js' %}"></script>
    <!-- //js -->
    <!-- Calendar -->
    <script src="{% static 'ad_min/requirement/js/jquery-ui.js' %}"></script>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
    </script>
    <!-- //Calendar -->
</body>
</html>
